<h1>Listing theme_linkers</h1>

<table>
  <thead>
    <tr>
      <th>Theme</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @theme_linkers.each do |theme_linker| %>
      <tr>
        <td><%= theme_linker.theme %></td>
        <td><%= theme_linker.description %></td>
        <td><%= link_to 'Show', theme_linker %></td>
        <td><%= link_to 'Edit', edit_theme_linker_path(theme_linker) %></td>
        <td><%= link_to 'Destroy', theme_linker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme linker', new_theme_linker_path %>
