
    <div class="container-fluid">
        <div class="col-md-offset-4">

       <% @movie_genres.popular.each do |movie_genre| %>
               <div class="col-md-4">  <h3><span class="label label-default"><strong>Genre:<%= link_to movie_genre.title, movie_movie_genre_path(@movie, movie_genre) %></h3></strong><strong><span class="badge"><%= pluralize movie_genre.reputation_for(:votes).to_i, "" %></strong></span></span>
                 <%= link_to "up", vote_movie_movie_genre_path(@movie, movie_genre,  type: "up"), method: "post" %>  <%= link_to "down", vote_movie_movie_genre_path(@movie, movie_genre,  type: "down"), method: "post" %></div>
                 <% end %>
            
           
<%= link_to "Add new Genre", new_movie_movie_genre_path(@movie) %>
        </div>
    </div>
</div>