<div class="panel panel-default">
<div class="container">
  <div class="row">
    <div class="col-md-4"><%= image_tag @movie.poster.url(:medium) %>
    </div>
    
    <div class="col-md-8">  <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>User:</strong></td>
                <td><%= @movie.user.email %></td>
              </tr>
            
               
               <tr>
 
    
               </tr>
              
            </tbody>
          </table>
     
      </div>
        </div>
    </div>
  </div>
</div>

   <%= render 'linker' %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |


