<h1>Listing movie_theme_comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_theme_comments.each do |movie_theme_comment| %>
      <tr>
        <td><%= movie_theme_comment.title %></td>
        <td><%= movie_theme_comment.description %></td>
        <td><%= link_to 'Show', movie_theme_comment %></td>
        <td><%= link_to 'Edit', edit_movie_theme_comment_path(movie_theme_comment) %></td>
        <td><%= link_to 'Destroy', movie_theme_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

