<h1>Listing genre_linkers</h1>

<table>
  <thead>
    <tr>
      <th>Genre</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genre_linkers.each do |genre_linker| %>
      <tr>
        <td><%= genre_linker.genre %></td>
        <td><%= genre_linker.description %></td>
        <td><%= link_to 'Show', genre_linker %></td>
        <td><%= link_to 'Edit', edit_genre_linker_path(genre_linker) %></td>
        <td><%= link_to 'Destroy', genre_linker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genre linker', new_genre_linker_path %>
