        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Movie Title:</strong></td>
                  <td> <%= link_to @movie.title, movie_path(@movie) %></td>
              </tr>
              <tr>
                <td><strong>Genre:</strong></td>
                <td> <%= @genre_linker.genre %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td> <%= @genre_linker.description %></td>
              </tr>
              <tr>
                <td><strong>Created by:</strong></td>
                 <td><%= @genre_linker.user.email %></td> 
              </tr>
          
                   <tr>
                <td><strong>Number of votes</strong></td>
                     <td> <%= pluralize @genre_linker.reputation_for(:votes).to_i, "votes" %></td>
              </tr>
            
              
              
              
            </tbody>
          </table>


